{%include 'layout.html'%}

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold sm:text-3xl">Change password</h1>

    <p class="mt-4 text-gray-500"> 
      {% if msg %} {% if msg == 'Password Updated' %}
      <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
        <strong class="block font-medium text-red-800"> {{msg}} </strong>
      </div>
      {% else %}
      <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
        <strong class="block font-medium text-red-800"> {{msg}} </strong>
      </div>
      {% endif %} {% endif %}
    </p>
  </div>

  <form
    method="POST"
    action="/users/edit-password"
    class="mx-auto mb-0 mt-8 max-w-md space-y-4"
  >
    <div>
      <label for="username" class="sr-only">Username</label>

      <div class="relative">
        <input
          type="text"
          class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
          placeholder="Enter username"
          name="username"
          required
        />
      </div>
    </div>

    <div>
      <label for="password" class="sr-only">Current Password</label>

      <div class="relative">
        <input
          type="password"
          class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
          placeholder="Enter current password"
          name="password"
          required
        />
      </div>
    </div>
    <div>
      <label for="password" class="sr-only">New Password</label>

      <div class="relative">
        <input
          type="password"
          class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
          placeholder="Enter new password"
          name="password2"
          required
        />
      </div>
    </div>


        <div class="flex items-center justify-between">

      <button
        type="submit"
        class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
      >
        Edit
      </button>
    </div>
  </form>
</div>
